* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.parent {
  background-color: #23424a;
  padding: 50px;

  /* If you assign a width - you will encounter some issues when resizing. when it's not, it will be responsiv */
  /* Default Value for the attribute "width" is : 100% */

  /* width: 900px; */
  width: 80%;
  margin: 0 auto;
}

.child {
  background-color: #38cfd9;

  width: 50%; /* Normally you would not try to set some width of a Child*/

  height: 250px;
}

.container {
  background-color: #23424a;
  color: white;
  width: 80%;
  margin: 0 auto;

  /* This cause text to overflow if given a specific height*/
  /* Solution : Don't give it height or do padding*/

  /* height: 300px; */
  padding: 5em; /* 16px * 5 = 80px */
}
